@model Holidayview.Application.ViewModels.Customer.NewCustomerVm

@{
    ViewData["Title"] = "AddCustomer";
}

<h1>Add Customer</h1>
<hr />
<form asp-action="AddCustomer">
    <div class="divRadius">
        <div class="form-row">
            <h3>Basic information</h3>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="IsActive" />
                <div class="form-row">
                    <div class="form-group col">
                        <label asp-for="IndividualId" class="control-label"></label>
                        <input asp-for="IndividualId" class="form-control" />
                        <span asp-validation-for="IndividualId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group col">
                        <label asp-for="Surname" class="control-label"></label>
                        <input asp-for="Surname" class="form-control" />
                        <span asp-validation-for="Surname" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label asp-for="CustomerTypeId" class="control-label">Pozycja</label>
                            <select asp-for="CustomerTypeId" asp-items="@(new SelectList(Model.CustomerTypes, "Id", "Name"))" class="custom-select"></select>
                            <span asp-validation-for="CustomerTypeId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="divRadius">
        <div class="form-row">
            <h3>Company information</h3>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label asp-for="CompanyId" class="control-label"></label>
                <select asp-for="CompanyId" class="form-control" asp-items="@ViewBag.CompanyId"></select>
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label asp-for="DirectorId" class="control-label"></label>
                <select asp-for="DirectorId" class="form-control" asp-items="@ViewBag.LeaderId"></select>
                <span asp-validation-for="DirectorId" class="text-danger"></span>
            </div>
            <div class="form-group col">
                <label asp-for="ManagerId" class="control-label"></label>
                <select asp-for="ManagerId" class="form-control" asp-items="@ViewBag.DisableId"></select>
                <span asp-validation-for="ManagerId" class="text-danger"></span>
            </div>
            <div class="form-group col">
                <label asp-for="LeaderId" class="control-label"></label>
                <select asp-for="LeaderId" class="form-control" asp-items="@ViewBag.LeaderId"></select>
                <span asp-validation-for="LeaderId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label asp-for="DisableId" class="control-label"></label>
                <select asp-for="DisableId" class="form-control" asp-items="@ViewBag.DisableId"></select>
                <span asp-validation-for="DisableId" class="text-danger"></span>
            </div>
            <div class="form-group col">
                <label asp-for="VacationId" class="control-label"></label>
                <select asp-for="VacationId" class="form-control" asp-items="@ViewBag.VacationId"></select>
                <span asp-validation-for="VacationId" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-success" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
