@model Holidayview.Application.ViewModels.Customer.NewCustomerVm

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>NewCustomerVm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" class="form-control" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IndividualId" class="control-label"></label>
                <input asp-for="IndividualId" class="form-control" />
                <span asp-validation-for="IndividualId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyId" class="control-label"></label>
                <select asp-for="CompanyId" class="form-control" asp-items="@ViewBag.CompanyId"></select>
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DirectorId" class="control-label"></label>
                <select asp-for="DirectorId" class="form-control" asp-items="@ViewBag.DirectorId"></select>
                <span asp-validation-for="DirectorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManagerId" class="control-label"></label>
                <select asp-for="ManagerId" class="form-control" asp-items="@ViewBag.ManagerId"></select>
                <span asp-validation-for="ManagerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeaderId" class="control-label"></label>
                <select asp-for="LeaderId" class="form-control" asp-items="@ViewBag.LeaderId"></select>
                <span asp-validation-for="LeaderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisableId" class="control-label"></label>
                <select asp-for="DisableId" class="form-control" asp-items="@ViewBag.DisableId"></select>
                <span asp-validation-for="DisableId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VacationId" class="control-label"></label>
                <select asp-for="VacationId" class="form-control" asp-items="@ViewBag.VacationId"></select>
                <span asp-validation-for="VacationId" class="text-danger"></span>
            </div>
            @foreach (var item in Model.LeaveBalances)
            {
                <div class="form-group">
                    <label asp-for="@item.BalanceOfLeave" class="control-label"></label>
                    <input asp-for="@item.BalanceOfLeave" class="form-control"/>
                    <span asp-validation-for="@item.BalanceOfLeave" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@item.LeaveTaken" class="control-label"></label>
                    <input asp-for="@item.LeaveTaken" class="form-control"/>
                    <span asp-validation-for="@item.LeaveTaken" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@item.LeaveLeft" class="control-label"></label>
                    <input asp-for="@item.LeaveLeft" class="form-control"/>
                    <span asp-validation-for="@item.LeaveLeft" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <div class="alert-success">
                @TempData["editsavechanges"]
            </div>
            <div class="alert-danger">
                @TempData["errorsavechanges"]
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
